{% extends 'adminlte/lib/_main_sidebar.html' %}
<li class="header">{% block nav_heading %}Panel navegación{% endblock %}</li>
{% block nav_links %}
    <li>
        <a href="{% url "users:f_index" %}">
            <i class="fa fa-dashboard"></i> <span>Inicio</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-paw"></i> <span>Adopción</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url "users:r_list" %}">
                    <i class="fa fa-user"></i> Postulantes
                </a>
                <a href="{% url "users:a_list" %}">
                    <i class="fa fa-heart"></i> Adoptantes
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-retweet"></i> <span>Seguimiento</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url "users:s_list" %}">
                    <i class="fa fa-file-photo-o"></i> Evidencias
                </a>
                <a href="{% url "users:a_list" %}">
                    <i class="fa fa-calendar-check-o"></i> Visitas
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Usuarios</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url "users:f_list" %}">
                    <i class="fa fa-user"></i> Vinculados
                </a>
                <a href="#">
                    <i class="fa fa-file"></i> Brigadistas
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-file"></i> <span>Reportes</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#">
                    <i class="fa fa-user"></i> Indices
                </a>
                <a href="#">
                    <i class="fa fa-file"></i> Mascotas
                </a>
                <a href="#">
                    <i class="fa fa-file"></i> Contratos
                </a>
                <a href="#">
                    <i class="fa fa-file"></i> Usuarios
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-map"></i> <span>Georeferencia</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url "gmaps:Mapa_Ubicacion" %}">
                    <i class="fa fa-map-marker"></i> Marcar Punto
                </a>
                <a href="{% url "gmaps:Crear_Categoria" %}">
                    <i class="fa fa-plus-circle"></i> Crear Categoria
                </a>                
            </li>
        </ul>
    </li>
{% endblock nav_links %}