{% extends '_layouts/base.html' %}
{% load i18n static thumbnail %}

{% block title %}{% trans 'Historias junto a ' %}{{ relacion.mascota.name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      {% if flag == 1 %}
      <!--<div class="alert alert-success">{{ user_name }} anteriormente te habias postulado para una mascota, tus datos han sido actualizados...!</div>-->
      {% endif %}
      <h2>{{ user_name }} Cuentanos como te la estas pasando al lado de {{ relacion.mascota.name }}!</h2>

       <p>A continuación proporciona cualquier contenido que quieras añadir a la historia entre {{ relacion.mascota.name }} y tú.</p>

       <form class="form-horizontal" method="POST" enctype="multipart/form-data"
       action="{% url 'adopcion:upload_image' relacion.id %}">
       {% csrf_token %}
       <input name="pet_id" value="{{ relacion.mascota.id }}" type="hidden">

       <div class="form-group">
        <div class="col-md-6">
          <!--<label for="another_picture" class="control-label">{% trans 'Agregar foto' %}</label>-->
          <input type="file" id="another_picture" name="another_picture">
        </div>

        <div class="col-md-6">
          <input type="submit" name="submit" class="btn btn-primary" value="{% trans 'Subir Imagen' %}">
        </div>
        </div>
        </form>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Enviar evidencia" />
        </form>

        {% if seguimiento.adjuntos_seguimiento_set.all %}
        <div class="col-md-12">
          <h3>{% trans 'Mira tu Story Line' %}</h3>

          <div class="row">
            {% for adjuntos_seguimiento in seguimiento.adjuntos_seguimiento_set.all %}
            <div class="col-md-3">
              <a href="{{ adjuntos_seguimiento.adjunto.url }}" data-lightbox="{{ adjuntos_seguimiento }}" data-title="{{ relacion.mascota }}">
                <img class="img-thumbnail" src="{{ adjuntos_seguimiento.adjunto|thumbnail_url:'seguimiento_thumb' }}"
                alt="{{ relacion }}"/>
              </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      <br>
      <ul class="list-unstyled list-inline">
        <li>
          <a href="{{ facebook_url }}" target="#" rel="noreferrer noopener">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook"/>
          </a>
        </li>
        <li>|</li>
        <li>
          <a href="{{ twitter_url }}" target="_blank" rel="noreferrer noopener">
            <img src="{% static 'img/twitter.png' %}" alt="Twitter"/>
          </a>
        </li>
      </ul>

      <p>Gracias por tu apoyo! <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
