{% extends '_layouts/base.html' %}
{% load i18n static thumbnail %}

{% block title %}{% trans 'Historia enviada' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      {% if flag == 1 %}
      <!--<div class="alert alert-success">{{ user_name }} anteriormente te habias postulado para una mascota, tus datos han sido actualizados...!</div>-->
      {% endif %}
      <h2>{{ user_name }} Genial! se ha enviado tu evidencia {{ pet.name }}!</h2>

       <p>Gracias por tus aportes, revisa periodicamente tu correo para mas información, a continuación toda tu historia junto a {{ pet.name }}</p>

        {% if seguimiento.adjuntos_seguimiento_set.all %}
        <div class="col-md-12">
          <h3>{% trans 'Adjuntos Contrato!' %}</h3>

          <div class="row">
            {% for adjuntos_seguimiento in seguimiento.adjuntos_seguimiento_set.all %}
            <div class="col-md-3">
              <a href="{{ adjuntos_seguimiento.adjunto.url }}" data-lightbox="{{ adjuntos_seguimiento }}" data-title="{{ relacion.mascota }}">
                <img class="img-thumbnail" src="{{ adjuntos_seguimiento.adjunto|thumbnail_url:'seguimiento_thumb' }}"
                alt="{{ relacion }}"/>
              </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}

      <ul class="list-unstyled list-inline">
        <li>
          <a href="{{ facebook_url }}" target="#" rel="noreferrer noopener">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook"/>
          </a>
        </li>
        <li>|</li>
        <li>
          <a href="{{ twitter_url }}" target="_blank" rel="noreferrer noopener">
            <img src="{% static 'img/twitter.png' %}" alt="Twitter"/>
          </a>
        </li>
      </ul>

      <p>Gracias por tu apoyo! <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
