{% extends 'adminlte/base.html' %}
{% load i18n static %}
{% load i18n static thumbnail %}
{% load i18n crispy_forms_tags static %}
{% load static compress %}


{% block content %}
<head>
 
 <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>



 <script type="text/javascript">
  $(document).ready(function(){
    $("#pt").click(function(){ 
        var frm = document.getElementById("iframe_a").contentWindow;
        frm.focus();// focus on contentWindow is needed on some ie versions
        frm.print();
    });
    /*
    
  */
  $('.modal').on('shown.bs.modal', function() {
        $(this).find('iframe').attr('src','{% url "users:c_generar" relacion.id %}');
      })  
  });

  $(function(){
      var f=$('#iframe_a')
      f.load(function(){ 
        //f.contents().replace('tipo_empresa','dsssssollsss');
        f.contents().find("tipo_empresa").replaceWith('{{relacion.mascota.fundacion.get_prefijo}} {{relacion.mascota.fundacion.get_tipo_empresa}}');
        f.contents().find("nombre_corto").replaceWith('{{relacion.mascota.fundacion.nombre_corto}}');
      })
  })
</script>

</head>

<div class="modal fade" align="center" role="dialog" id="delete_pet" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="width:95%;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans 'Contrato Legal De Adopción' %}</h4> 
            </div>

            <div class="modal-body">
                <!--  ----------------------------------------------------------------------- -->
                <iframe width="100%" style="height: 350px;" src="" name="iframe_a" id="iframe_a"></iframe>
                <!-- ----------------------------------------------------------------------- -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancelar' %}</button>
                <a href="" class="btn btn-primary"  id="pt">Imprimir</a>

            </div>

        </div>
    </div>
</div>

<div >
     <button id="ver" type="button" class="btn btn-info" data-toggle="modal" data-target="#delete_pet" data-modal-mobile-viewport-width="s">
                {% trans 'Ver contrato' %}
     </button>
     <br><br>
    <style type="text/css">
         td input {
                width: 150px;
            }
    </style>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            Datos Postulante
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>
                                       <label style="border-style: double;">&nbsp;Nombres&nbsp;</label><input type="text" readonly name="" value='{{relacion.usuario.first_name}}'>
                                    </td>
                                    <td>
                                       <label style="border-style: double">&nbsp;Apellidos&nbsp;</label><input type="text" readonly name="" value='{{relacion.usuario.last_name}}'>
                                    </td>
                                    <td>
                                       <label style="border-style: double">&nbsp;Documento&nbsp;</label><input style="width: 40px;" type="text" readonly name="" value='{{relacion.usuario.tipo_identificacion}}' >
                                    </td>
                                    <td>
                                       <label style="border-style: double">&nbsp;Numero&nbsp;</label><input type="text" readonly name="" value='{{relacion.usuario.num_identificacion}}'>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                       <label style="border-style: double">&nbsp;Email&nbsp;</label><input type="text" readonly name="" value='{{relacion.usuario.email}}'>  
                                    </td>  
                                     <td>
                                       <label style="border-style: double">&nbsp;Telefono&nbsp;</label><input type="text" readonly name="" value='{{relacion.usuario.phone}}'> 
                                    </td>  
                                    <td>
                                       <label style="border-style: double">&nbsp;Facebook Url&nbsp;</label><input type="text" readonly name="" value='{{relacion.usuario.facebook}}'> 
                                    </td>  
                                </tr>
                                <!-- ------------------------------------------ -->
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" >
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-th"></span>
                            Datos Referencias
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">

                          <form method="POST" class="form-horizontal" action="{% url 'adopcion:reference_add' relacion.mascota.id relacion.usuario.id %}">
                                {% csrf_token %}
                                {{ RefForm.as_p }}
                                <input type="submit" name="submit" class="save btn btn-success" value="{% trans 'Agregar referencia' %}">                             
                            </form>

                            <div class="table-responsive">
                           <table border="1" class="table">
                            <tr>
                             <th>Documento</th>
                             <th>N° Documento</th>
                             <th>Nombres</th>
                             <th>Apellidos</th>
                             <th>Telefono</th>
                             <th>Direccion</th>
                             <th>Email</th>
                            </tr>
                            {% for obj in relacion.usuario.referencia_set.all %}
                            <tr>
                             <th>{{obj.tipo_identificacion}}</th>
                             <th>{{obj.num_identificacion}}</th>
                             <th>{{obj.nombre}}</th>
                             <th>{{obj.apellido}}</th>
                             <th>{{obj.telefono}}</th>
                             <th>{{obj.direccion}}</th>
                             <th>{{obj.email}}</th> 
                            </tr>
                            {% endfor %}

                           </table>
                            </div>
                            </div>
                        </div>
                    </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-user"></span>
                            Adjuntar Contrato
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <form class="form-horizontal" method="POST" enctype="multipart/form-data"
                            action="{% url 'adopcion:upload_image' relacion.id %}">
                            {% csrf_token %}
                            <input name="pet_id" value="{{ pet.id }}" type="hidden">

                            <div class="form-group">
                                <div class="col-md-6">
                                <!--<label for="another_picture" class="control-label">{% trans 'Agregar foto' %}</label>-->
                                <input type="file" id="another_picture" name="another_picture">
                                </div>

                                <div class="col-md-6">
                                <input type="submit" name="submit" class="btn btn-primary" value="{% trans 'Subir Imagen' %}">
                                </div>
                            </div>
                            </form>
                           
                            {% if seguimiento.adjuntos_seguimiento_set.all %}
                              <div class="col-md-12">
                                <h3>{% trans 'Adjuntos Contrato!' %}</h3>

                                <div class="row">
                                  {% for adjuntos_seguimiento in seguimiento.adjuntos_seguimiento_set.all %}
                                    <div class="col-md-3">
                                      <a href="{{ adjuntos_seguimiento.adjunto.url }}" data-lightbox="{{ adjuntos_seguimiento }}" data-title="{{ relacion.mascota }}">
                                        <img class="img-thumbnail" src="{{ adjuntos_seguimiento.adjunto|thumbnail_url:'seguimiento_thumb' }}"
                                             alt="{{ relacion }}"/>
                                      </a>
                                    </div>
                                    {% if forloop.counter|divisibleby:4 %}
                                      </div>
                                      <div class="row">
                                    {% endif %}
                                  {% endfor %}
                                  </div>
                              </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-file"></span>
                            Completar contrato
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="save btn btn-success">Completar proceso adopción</button>
                                <br>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}