    {% load i18n static %}
    {% load i18n static thumbnail %}
    {% load i18n static compress %}
    <html>
    <head>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        {% endcompress %}

        {% compress js %}
        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% endcompress %}

        <title></title>
        <style type="text/css">
        #super{
          width: 100%;  
          /*margin-left:auto*/
      }
      #main{
          width: 95%; 
          margin-left: 2%;
      }
      #cabecera{
          text-align: center;
          vertical-align: center;
          font-weight: bold;
          font-color:#ffffff;
          font-family:"Arial";
          font-size:12px;
          /*height: 10%;*/
      }   
      #titulo{
          width: 60%;  
          text-transform:uppercase;   
      }
      #fecha{
          width: 20%;
          text-align: left;
          vertical-align: bottom;
          font-size:11px;
      }
      #logo{
          width: 20%;
          /*align-items: center; */
      }
      #nit{
          /*width: 100%;*/
          vertical-align: top;
      }
      /* ------    ------*/
      fieldset { 
        display: inline-table;
        font-size:11px;
        border: 2px groove (internal value);
    }
    legend {
        font-size:11px;
        font-weight: bold;
        font-color:#ffffff;
        font-family:"Arial";
        /*text-decoration: underline;*/
    }
    #adoptante, #adoptado, #firmas, ol, p{
        font-size:11px;
        font-color:#ffffff;
        font-family:"Arial";
    }
    #uno {
        text-transform:uppercase; 
        width: 60%;
    }
    #dos {
        text-transform:uppercase; 
        width: 40%;
    }
    table h7{
        /*text-decoration: underline;*/
    }
    li::first-letter {
      text-transform:uppercase; 
    }

ol, ol li { margin-left: 0; padding-left: 0; }
ol { margin-left: 1.5em; }

</style>
</head>
<body>
    <div id="super" class="col-xs-12 .col-sm-6 .col-lg-8">
      <div id="main" class="table-responsive">
        <!-- CABECERA -->
        <table border="0" cellspacing="0" cellpadding="0" id="cabecera">
          <tr>
             <td id="fecha" rowspan="2">{{relacion.get_fecha_actual|date}}</td>
             <td id="titulo">CONTRATO LEGAL DE ADOPCIÓN DE UN ANIMAL DE COMPAÑÍA {{relacion.mascota.fundacion.nombre_corto}}</td>
             <td id="logo" rowspan="2"><img class="img-thumbnail" src="{{ relacion.mascota.fundacion.logo|thumbnail_url:'fundacion_thumb' }}"
               alt="{{ relacion.mascota.fundacion }}"/></td>
           </tr>
           <tr>
              <td  id="nit">{{relacion.mascota.fundacion.tipo_identificacion}} :{{relacion.mascota.fundacion.num_identificacion}}</td>
          </tr>
      </table>
      <br>
      <p><strong>DATOS DEL ADOPTANTE</strong></p>
      <table border="0" cellspacing="0" cellpadding="0" width="100%" id="adoptante">
        <tr>
          <td id="uno">NOMBRES Y APELLIDOS: <h7>{{relacion.usuario.nombre_completo}}</h7></td>
          <td id="dos">{{relacion.usuario.tipo_identificacion}}: <h7>{{relacion.usuario.num_identificacion}}</h7></td>
      </tr>
      <tr>
          <td id="uno">DIRECCIÓN: <h7>{{relacion.usuario.direccion}}</h7></td>
          <td id="dos">MUNICIPIO: <h7>{{relacion.usuario.city}}</h7></td>
      </tr>
      <tr>
          <td id="uno">DEPARTAMENTO: <h7>{{relacion.usuario.state}}</h7></td>
          <td id="dos">PAIS: <h7>COLOMBIA</h7></td>
      </tr>
      <tr>
          <td id="uno">CONTACTO TELEFONICO: <h7>{{relacion.usuario.phone}}</h7></td>
          <td id="dos">E-MAIL: <h7>{{relacion.usuario.email}}</h7></td>
      </tr>
  </table>
  <br>
  <p><strong>DATOS DEL ADOPTADO</strong></p>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" id="adoptado">
    <tr>
      <td id="uno">NOMBRE DE LA MASCOTA: <h7>{{relacion.mascota.name}}</h7></td>
      <td id="dos">NUMERO DE CHIP: <h7>{{relacion.mascota.chip}}</h7></td>
  </tr>
  <tr>
      <td id="uno">COLOR: <h7>{{relacion.mascota.color}}</h7></td>
      <td id="dos">PESO: <h7>{{relacion.mascota.peso}} KG</h7></td>
  </tr>
  <tr>
      <td id="uno">EDAD: <h7>{{relacion.mascota.edad}}</h7></td>
      <td id="dos">ESPECIE: <h7>{{relacion.mascota.kind}}</h7></td>
  </tr>
  <tr>
      <td id="uno">SEXO: <h7>{{relacion.mascota.get_sex_display}}</h7></td>
      <td id="dos">RAZA: <h7>{{relacion.mascota.raza}}</h7></td>
  </tr>
  <tr>
      <td id="">CONDICIÓN CORPORAL: <h7>{{relacion.mascota.get_condicion_corporal_display|upper}}</h7></td>
  </tr>
</table>
<br>
<p style="text-decoration: none;"><strong>EL ADOPTANTE SE COMPROMETE MEDIANTE LA FIRMA DE ESTE CONTRATO A:</strong></p>
<ol>
    {% for obj in clausulas %}        
        <li ALIGN="justify">{{obj.descripcion|safe}}</li><br>
    {% endfor %}
</ol>
<p ALIGN="justify" >
    {{contrato.descripcion|safe}}  
</p>
<p><strong>OBSERVACIONES: (Estado de entrega del animal):</strong></p>
<p ALIGN="justify" >
   _____________________________________________________________________________________________________________<br>
   _____________________________________________________________________________________________________________<br>
   _____________________________________________________________________________________________________________<br>
</p>

<table border="0" cellspacing="0" cellpadding="0" width="100%" id="firmas">
   <tr>
       <td>Se firma a los {{relacion.get_fecha_actual|date:'d'}} días del mes de {{relacion.get_fecha_actual|date:'F'}} del {{relacion.get_fecha_actual|date:'Y'}}</td>
       <td rowspan="11">Huella</td>
       <td rowspan="11" style="border: 1px solid; width: 15%; height: 100%"></td>
   </tr>
   <tr>
       <td>&nbsp;</td>
   </tr>
   <tr>
       <td>&nbsp;</td>
   </tr>
   <tr>
      <td id="firma_a">________________________________</td>
   </tr>
   <tr>
      <td id="firma_a">FIRMA ADOPTANTE.</td>
   </tr>
   <tr>
      <td id="firma_a" style="text-transform:uppercase; ">{{relacion.usuario.nombre_completo}}</td>
   </tr>
   <tr>
       <td>&nbsp;</td>
   </tr>
   <tr>
       <td>&nbsp;</td>
   </tr>
    <tr>
      <td id="firma_a">_________________________________________________________</td><br>
   </tr>
   <tr>
      <td id="firma_f">FIRMA DEL MIEMBRO DE LA FUNDACIÓN QUE ENTREGA EN ADOPCIÓN.</td> 
   </tr>
   <tr>
      <td id="firma_f" style="text-transform:uppercase; ">{{user.nombre_completo}}</td>    
   </tr>
</table>
</div>
</div>
</body>
</html>