{% extends '_layouts/base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Postularse para ' %} {{ pet_name }} {% endblock %}
{% load widget_tweaks %}
{% block content %}
<head>
	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/crossorigin.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>

	<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->


	<script type="text/javascript">

		$(document).ready(function() {            
		   $('input').attr("required", true);
		   $('select').attr("required", true);
		   $('#id_facebook').attr("required", false);
		   //$('#id_first_name').attr("required", true);
		   
		});

		var previous_username = '';
		var in_ajax = 0;
		var ban_result = 0;
		function check() {
		    username = $("#id_email").val();
		    if ((previous_username != username) && (username != '') && (in_ajax != 1)) {
		        in_ajax = 1;
		        var url_mask = "{% url 'adopcion:check' 12345 %}".replace(/12345/, username.toString());
		        $("#username_status").load(url_mask, function() {in_ajax = 0; result();});
		        ban_result = 0;
		    }
		    previous_username = username;
		    //if (ban_result == 0) {
		    	
		    //}
		    
		}

		function result(){
			res = $("#username_status").html();
			//alert(res);
			if (res!="0" && res!="-1" && res!="") {
				var obj = JSON.parse(res);
				$("#mensajes").html("<div class='alert alert-success'>"+obj.nombre+" tus datos ya existen en la plataforma, si deseas continuar con la postulación por favor confirma tu numero de identificación.</div>");
				$("#id_tipo_identificacion").val(obj.tipo);
				//$("#id_tipo_identificacion").removeProp('required');
				$("#id_tipo_identificacion").prop('disabled', 'disabled');
				//$("#id_tipo_identificacion").hide();
				//$("#div_tipo_identificacion").hide();
				//$('#id_tipo_identificacion').prop('required',false);

				//$("#div_tipo_identificacion *").prop('disabled', 'disabled');


				$("#hid1").hide();	
				$("#hid1 *").prop("disabled", 'disabled');
				ban_result = 1;	
			}
			else{
				$("#mensajes").html("");
				$("#hid1").show();
				$("#hid1 *").prop("disabled", false);
				$("#id_tipo_identificacion").prop('disabled', false);
				$("#id_tipo_identificacion").val('');
			}
		}
		/*
		const number = document.querySelector('#id_num_identificacion');

		function formatNumber (n) {
			n = String(n).replace(/\D/g, "");
		  return n === '' ? n : Number(n).toLocaleString("col-ES");
		}

		function separador(e){	
			value = formatNumber($("#id_num_identificacion").val());		
		  	$("#id_num_identificacion").val(value);

		  	n = String($("#id_num_identificacion").val()).replace(/\D/g, "");
		  alert(n);
		}
		
		$('#form').submit(function() {
		  // do something
		  n = String($("#id_num_identificacion").val()).replace(/\D/g, "");
		  $("#id_num_identificacion").val(n);
		});
		*/
		$(function() {
		    setInterval("check()", 500);
		});

	</script>
</head>
<span id="mensajes"></span>
<form method="post" id="form">
	{% csrf_token %}	

	<div class="form-group{% if form.email.errors %} has-error{% endif %}">
		<label for="{{ form.email.id_for_label }}" class="control-label">{% trans 'Correo Electronico' %}</label>

		<div class="controls">
			{{ form.email }}
			{{ form.email.errors }}
		</div>
		<span id="username_status"  hidden="hidden"></span>
	</div>

	<div class="row">
		<div class="col-md-6" id="div_tipo_identificacion">
			   <div class="form-group{% if form.tipo_identificacion.errors %} has-error{% endif %}"> 
				<label for="{{ form.tipo_identificacion.id_for_label }}" class="control-label">{% trans 'Documento' %}</label>

				<div class="controls">
					{{ form.tipo_identificacion }}
					{{ form.tipo_identificacion.errors }}  
				</div>
			   </div> 
		</div>

		<div class="col-md-6">
			<div class="form-group{% if form.num_identificacion.errors %} has-error{% endif %}">
				<label for="{{ form.num_identificacion.id_for_label }}" class="control-label">{% trans 'Número' %}</label>

				<div class="controls">
					{{ form.num_identificacion }}
					{{ form.num_identificacion.errors }}
				</div>
			</div>
		</div>
	</div>

	<!-- hidden  -->
	<div id="hid1">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
				<label for="{{ form.first_name.id_for_label }}" class="control-label">{% trans 'Nombres' %}</label>

				<div class="controls">
					{{ form.first_name }}
					{{ form.first_name.errors }}
				</div>
				<span id="sp_first_name"  hidden="hidden"></span>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
				<label for="{{ form.last_name.id_for_label }}" class="control-label">{% trans 'Apellidos' %}</label>

				<div class="controls">
					{{ form.last_name }}
					{{ form.last_name.errors }}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group{% if form.state.errors %} has-error{% endif %}">
				<label for="{{ form.state.id_for_label }}" class="control-label">{% trans 'Departamento' %}</label>

				<div class="controls">
					{{ form.state }}
					{{ form.state.errors }}
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group{% if form.city.errors %} has-error{% endif %}">
				<label for="{{ form.city.id_for_label }}" class="control-label">{% trans 'Ciudad' %}</label>

				<div class="controls">
					{{ form.city }}
					{{ form.city.errors }}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group{% if form.direccion.errors %} has-error{% endif %}">
				<label for="{{ form.direccion.id_for_label }}" class="control-label">{% trans 'Dirección' %}</label>

				<div class="controls">
					{{ form.direccion }}
					{{ form.direccion.errors }}	
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group{% if form.phone.errors %} has-error{% endif %}">
				<label for="{{ form.phone.id_for_label }}" class="control-label">{% trans 'Telefono' %}</label>

				<div class="controls">
					{{ form.phone }}
					{{ form.phone.errors }}
				</div>
			</div>
		</div>
	</div>

<fieldset>
	<legend>{% trans 'Informacion Opcional' %}</legend>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group{% if form.facebook.errors %} has-error{% endif %}">
				<label for="{{ form.facebook.id_for_label }}" class="control-label">{% trans 'Facebook' %}</label>

				<div class="controls">
					{{ form.facebook }}
					<div class="help-block">{{ form.facebook.help_text|safe }}</div>
					{{ form.facebook.errors }}
				</div>
			</div>
		</div>
		<!--
		<div class="col-md-6">
			<div class="form-group{% if form.twitter.errors %} has-error{% endif %}">
				<label for="{{ form.twitter.id_for_label }}" class="control-label">Twitter</label>

				<div class="controls">
					{{ form.twitter }}
					<div class="help-block">{{ form.facebook.help_text|safe }}</div>
					{{ form.twitter.errors }}
				</div>
			</div>
		</div>
		-->
	</div>
</fieldset>
</div> 
<!-- hid1 -->
<div class="form-group text-right">
	<input type="submit" name="submit" class="btn btn-primary" value="{% trans 'CONFIRMAR POSTULACIÓN' %}">
</div>
</form>
<br>
{% endblock %}