{% extends 'adminlte/base.html' %}

{% block logo %}
    <div class="login-logo">
    <a href="{% block logo_href %}/{% endblock %}">
        {% block logo_text %}<b>Dale</b>La Pata{% endblock %}</a>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
{% block content %}
    <button><a href="{% url "users:f_new"%}">Agregar usuario</a></button>
    <div class="table-responsive">          
      <table id="myTable" class="table">
        <thead>
          <tr class="clickable-row">
            <th>Id. Postulante</th>
            <th>Postulante</th>
            <th>Chip Mascota</th>
            <th>Mascota</th>
            <th>Fecha</th>
            {% if object.is_superuser %}
            <th>Fundacion</th>
            {% endif %}
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for relacion in object_list %}
          <tr>
            <td> {{ relacion.usuario.num_identificacion }} </td>
            <td><a href="{{ relacion.usuario.get_absolute_url }}"> {{ relacion.usuario.nombre_completo }} </a></td>
            <td>{{ relacion.mascota.chip_id }}</td>
            <td><a href="{{ relacion.mascota.get_absolute_url }}"> {{ relacion.mascota }} </a></td>
            <td>{{ relacion.fecha }}</td>
            {% if object.is_superuser %}
             <td>{{ relacion.mascota.fundacion.nombre_corto }}</td>
            {% endif %}

            {% if type == "postulante" %}
            <td><a href="{% url "users:c_new" relacion.mascota.id relacion.usuario.id  %}">Realizar contrato</a></td>
            {% endif %}
            {% if type == "adoptante" %}
            <td><a href="{% url "adopcion:sendnoti_evidence" relacion.id 0 %}">Solicitar evidencia</a></td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}

