{% extends 'adminlte/base.html' %}

{% block logo %}
    <div class="login-logo">
    <a href="{% block logo_href %}/{% endblock %}">
        {% block logo_text %}<b>Dale</b>La Pata{% endblock %}</a>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
{% block content %}
    <!-- <button><a href="{% url "users:f_new"%}">Agregar usuario</a></button> -->
    <div class="table-responsive">          
      <table id="myTable" class="table">
        <thead>
          <tr class="clickable-row">
            <th>Id. Seguimiento</th>
            <th>Tipo</th>
            <th>F. Solicitud</th>
            <th>Usuario</th>
            <th>Compañero</th>
            <th>Dias ultima ev.</th>
            <th>Notificaciones</th>
            {% if object.is_superuser %}
            <th>Fundacion</th>
            {% endif %}
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for seguimiento in object_list %}
          <tr>
            <td> {{ seguimiento.id }} </td>
            <td> {{ seguimiento.tipo }} </td>
            <td> {{ seguimiento.fecha }} </td>
            <td><a href="{{ seguimiento.relacion.usuario.get_absolute_url }}"> {{ seguimiento.relacion.usuario.nombre_completo }} </a></td>
            <td><a href="{{ seguimiento.relacion.mascota.get_absolute_url }}"> {{ seguimiento.relacion.mascota }} </a></td>
            <td> {{ seguimiento.get_days_due }} </td>
            <td> {{ seguimiento.notificaciones }} </td>
    
            {% if object.is_superuser %}
             <td>{{ seguimiento.relacion.mascota.fundacion.nombre_corto }}</td>
            {% endif %}

            <td>
              <a href="{% url "adopcion:sendnoti_evidence" seguimiento.relacion.id 0 %}">Evi. Usuario | </a>
              <a href="{% url "adopcion:sendnoti_evidence" seguimiento.relacion.id 1 %}">Evi. referencias</a>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
