{% extends 'adminlte/base.html' %}

{% block title %}Eliminar Categoria{% endblock %}
{% block content %}		
<form method="post">	
	{% csrf_token %}
	{% if sepuede %}
	<h3>Esta seguro que quiere eliminar la categoria {{ categori.nombre }}?</h3>
		<button class="btneliminar" type="submit">Si, Eliminar</button><br><br>
	{% else %}
		<h3>La categoria {{ categori.nombre }} tiene vinculos con sitios ya establecidos, libérela para poderla eliminar</h3>
	{% endif %}
	<a href="{% url 'gmaps:Crear_Categoria' %}">Cancelar</a>	
</form>
<img src='/static/img/eliminar.png' width="400" height="400">		
{% endblock %}