{% extends 'adminlte/base.html' %}

{% block title %}Categoria{% endblock %}
{% block content %}
<div id="datos" class="capas">	
<div id="form">
	<form method="post">
		{% csrf_token %}
		{{ formc.as_p }}		
			<button type="submit" id="consultac">Guardar Categoria</button>					
	</form>	
</div>
</div>
<div class="table-responsive">
	<table id="datoscat" class="table">
		<thead>
			<tr class="clickable-row">
				<th>#</th>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
		{% if listcats %}
		{% for listcat in listcats %}	
		<tr>
			<td>{{listcat.id}}</td>
			<td>{{listcat.nombre}}</td>
			<td>
				<a href="{% url 'gmaps:categoria_edit' listcat.id %}">Editar</a>
			</td>
			<td>
				<a href="{% url 'gmaps:categoria_delete' listcat.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		{% if idcat %}
			<a href="{% url 'gmaps:Crear_Categoria' %}">Cancelar</a>
		{% else %}
			<h1>No hay registros de Categorias</h1>
		{% endif %}	
		{% endif %}
		</tbody>
	</table>
	{% if listcats.has_previous %}
		<a href="?page={{listcats.previous_page_number}}" style="float:left"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
	{% endif %}
	{% if listcats.has_next %}
		<a href="?page={{listcats.next_page_number}}" style="float:right"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
	{% endif %}
</div>
{% endblock %}

