{% extends 'adminlte/base.html' %}
{% load i18n static compress %}
{% block title %}Mapa{% endblock %}
{% block content %}

{% include '_layouts/baseMapaU.html' %}
<!--div class="container"-->
	<link href="{% static 'css/multiselect.css' %}" rel="stylesheet"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">

<div id="mapa" class="capas">
	{% csrf_token %}
	{% if edi %}
	<div id="icono">
		<img src='{{ edi }}' width="400" height="450">
	</div>
	{% endif %}	
</div>
<div id="datos" class="capas">	
<div id="form">	
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<label>Lugar:</label>
		{{ form.nombre }}	
		{{ form.lat }}
		{{ form.lng }}		
		<label>Cantidad:</label>
		{{ form.cantidad }}
		<nav class="minuta">
			<ul>
				<li><a href="/gmaps/categoria">Categorias<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
					<ul id="checkboxes">
						{% for cat in form.categorias %}
							<li>
								{{cat}}								
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</nav>
		<label>Estado:</label>
		{{ form.estado }}
		<label>Fecha Inicial:</label>
		{{ form.fecha_inicial }}
		<label>Fecha Final:</label>
		{{ form.fecha_final }}
		<label>Foto:</label>
		{{ form.foto }}
		<label>Usuario:</label>
		{{ form.user }}

		<button type="submit" id="consulta">Guardar Ubicación</button>		
	</form>	
	
</div>
</div>
<div id="data">
	{% csrf_token %}
	{% if edi %}
		<a href="{% url 'gmaps:Mapa_Ubicacion' %}">Cancelar</a>   
	{% endif %}
</div>
<div id="contQ">
	<div style="visibility:hidden">
		<p id="dataq">{{ listaQ }}</p>
	</div>
	 <input type="hidden" id="#datahq" value="$('#dataq').html">
 </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/multiselect.min.js' %}"></script>
  <script src="{% static 'js/scriptMapaU.js' %}"></script> 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script  src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.0.8"></script>
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.4"></script>
<!--/div-->
{% endblock %}