{% extends '_layouts/base.html' %}
{% load i18n static compress %}

{% block title %}{% trans 'Presencia Unidad Movil' %}{% endblock %}

{% block content %}
 	{% csrf_token %}	
	<header>
	<input type="checkbox" id="btn-menu">
	<label for="btn-menu" class="icon-menu"></label>
<nav class="minuta">
	<ul>
		<li><a href="#">Categorias<span class="icon-down-open"></span></a>
			<ul id="checkboxes">
				<li id='primero'><input id="all" type="radio" checked='checked'>
				<label for="all">Seleccionar Todo</label>
				</li>
						
			</ul>			
		</li>
		<li><a href="#">Estado<span class="icon-down-open"></span></a>
			<ul id="estados">
				<li>
					<input type='checkbox' id='VISITADO' checked='checked'>
					<label for='VISITADO'>Visitados</label>
				</li>
				<li>
					<input type='checkbox' id='PENDIENTE' checked='checked'>
					<label for='PENDIENTE'>Pendientes</label>
				</li>
			</ul>
		</li>
	</ul>
</nav>
</header>		
<div id="titleinfo"></div>
	<section id="mapaP"></section>	
	<div style="visibility: hidden">
	 	<p id="datap">{{ puntos }}</p>
	 	<p id="datac">{{ categs }}</p>
	 	<p id="datacu">{{ catubs }}</p>
	 </div>
	 <input type="hidden" id="#datahp" value="$('#datap').html">	
	 <input type="hidden" id="#datac" value="$('#datac').html">
	 <input type="hidden" id="#datacu" value="$('#datacu').html">	 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="contimg">
      <div class="modal-header" id="cabecerafoto">
        <h5 class="modal-title" id="exampleModalLabel"></h5>        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="x">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="fotomodal">
        
      </div>
      <div class="modal-footer" id="footerinfo">
        
      </div>
    </div>
  </div>
</div>
 {% include '_layouts/basePuntos.html' %}

{% endblock %}