{% extends 'adminlte/base.html' %}

{% block title %}Desmarcar{% endblock %}
{% block content %}	
<form method="post">
	{% csrf_token %}
	<h3>Esta seguro que quiere desmarcar el sitio de {{ ubicacion.nombre }}?</h3>
	<button class="btneliminar" type="submit">Si, Desmarcar</button><br><br>
	<a href="{% url 'gmaps:Mapa_Ubicacion' %}">Cancelar</a>	
</form>
<img src='/static/img/eliminar.png' width="400" height="400">		
{% endblock %}