{% load i18n thumbnail %}

<br>
<a href="{% url 'users:createSelect'%}" class="btn btn-primary btn-lg btn-block ">Volver</a>       
<br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

     <div class="row">
      <div class="col-md-6">
        <div class="form-group{% if form.tipo_empresa.errors %} has-error{% endif %}">
          <label for="{{ form.tipo_empresa.id_for_label }}" class="control-label">{% trans 'Tipo' %}</label>

          <div class="controls">
            {{ form.tipo_empresa }}
            {{ form.tipo_empresa.errors }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group{% if form.nombre_corto.errors %} has-error{% endif %}">
          <label for="{{ form.nombre_corto.id_for_label }}" class="control-label">{% trans 'Nombre Corto' %}</label>

          <div class="controls">
            {{ form.nombre_corto }}
            {{ form.nombre_corto.errors }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group{% if form.tipo_identificacion.errors %} has-error{% endif %}">
          <label for="{{ form.tipo_identificacion.id_for_label }}" class="control-label">{% trans 'Tipo documento' %}</label>

          <div class="controls">
            {{ form.tipo_identificacion }}
            {{ form.tipo_identificacion.errors }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group{% if form.num_identificacion.errors %} has-error{% endif %}">
          <label for="{{ form.num_identificacion.id_for_label }}" class="control-label">{% trans 'Numero documento ' %}</label>

          <div class="controls">
            {{ form.num_identificacion }}
            {{ form.num_identificacion.errors }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
          <label for="{{ form.email.id_for_label }}" class="control-label">{% trans 'Email' %}</label>

          <div class="controls">
            {{ form.email }}
            {{ form.email.errors }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group{% if form.telefono.errors %} has-error{% endif %}">
          <label for="{{ form.telefono.id_for_label }}" class="control-label">{% trans 'Telefono' %}</label>

          <div class="controls">
            {{ form.telefono }}
            {{ form.telefono.errors }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group{% if form.razon_social.errors %} has-error{% endif %}">
      <label for="{{ form.razon_social.id_for_label }}" class="control-label">{% trans 'Razón Social' %}</label>

      <div class="controls">
        {{ form.razon_social }}
        {{ form.razon_social.errors }}
      </div>
    </div>
    <!--
    <div class="form-group{% if form.username.errors %} has-error{% endif %}">
      <label for="{{ form.username.id_for_label }}" class="control-label">{% trans 'Usuario' %}</label>

      <div class="controls">
        {{ form.username }}
        <div class="help-block">{{ form.username.help_text }}</div>
        {{ form.username.errors }}
      </div>
    </div>
    -->

    <fieldset>
      <legend>{% trans 'Informacion Opcional' %}</legend>

      <div class="row">
      <div class="col-md-6">
        <div class="form-group{% if form.fecha_fundacion.errors %} has-error{% endif %}">
          <label for="{{ form.fecha_fundacion.id_for_label }}" class="control-label">{% trans 'Fecha Fundacion' %}</label>

          <div class="controls">
            {{ form.fecha_fundacion }}
            {{ form.fecha_fundacion.errors }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group{% if form.logo.errors %} has-error{% endif %}">
          <label for="{{ form.logo.id_for_label }}"
                 class="control-label">{% trans 'Logo' %}</label>

          <div class="controls">
            {{ form.logo }}
            {{ form.logo.errors }}
            <span class="help-block">{{ form.profile_picture.help_text }}</span>
          </div>
        </div>
      </div>
    </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="form-group{% if form.facebook.errors %} has-error{% endif %}">
            <label for="{{ form.facebook.id_for_label }}" class="control-label">{% trans 'Facebook' %}</label>

            <div class="controls">
              {{ form.facebook }}
              <div class="help-block">{{ form.facebook.help_text|safe }}</div>
              {{ form.facebook.errors }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group{% if form.twitter.errors %} has-error{% endif %}">
            <label for="{{ form.twitter.id_for_label }}" class="control-label">Twitter</label>

            <div class="controls">
              {{ form.twitter }}
              <div class="help-block">{{ form.facebook.help_text|safe }}</div>
              {{ form.twitter.errors }}
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group text-right">
      <input type="submit" name="submit" class="btn btn-primary" value="{% trans 'Crear Fundación' %}">
    </div>
  </form>