{% extends '_layouts/base.html' %}
{% load i18n static thumbnail %}

{% block title %}{% trans 'Usuario Registrado con Exito!' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">

      <h2>Tu cuenta ha sido creada con exito!!</h2>

       <p ALIGN="justify">Ahora puedes registrar animales de compañía para tu fundación, primero accede a tu espacio de usuario con el correo y la contraseña con la cual realizaste este registro, desde <a href="{% url 'users:login' %}">aqui.</a></p>

      <p>Puedes compartir este sitio en las redes sociales</p>

      <p>Gracias por tu apoyo! <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
