{% extends '_layouts/base.html' %}
{% load i18n static thumbnail %}

{% block title %}{% trans 'Solicitud de fundacion exitosa' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">

       <h2>La fundación ha sido creada con exito!!</h2>

       <p ALIGN="justify">Ahora puedes registrar animales de compañía para tu fundación, primero debes crear un usuario y seleccionar la fundación a la que deseas pertenecer, puedes hacer eso desde <a href="{% url 'users:create' %}">aqui.</a></p>
       
       

      <p>Puedes compartir este sitio en las redes sociales</p>

      <ul class="list-unstyled list-inline">
        <li>
          <a href="{{ facebook_url }}" target="#" rel="noreferrer noopener">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook"/>
          </a>
        </li>
        <li>|</li>
        <li>
          <a href="{{ twitter_url }}" target="_blank" rel="noreferrer noopener">
            <img src="{% static 'img/twitter.png' %}" alt="Twitter"/>
          </a>
        </li>
      </ul>

      <p>Gracias por tu apoyo! <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
