{% extends '_layouts/base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans 'Recover password' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      {% if form %}
        <p>
          {% trans 'Para recuperar su contraseña ingrese su dirección de correo electrónico.' %}
        </p>

        {% crispy form %}
      {% else %}
        <p>
          {% trans 'An email has just been sent to' %} <strong>{{ email }}</strong>.
        </p>
        <p>
          {% trans 'Use the link in this email to set up a new password. The link is valid for two hours.' %}
        </p>

        <p>
          <a class="btn btn-primary" href="{% url 'meupet:index' %}" title="{% trans 'Back to home page' %}">
            {% trans 'Back to home page' %}
          </a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}