{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block metatags %}
  <meta name="description" content="Nuestro objetivo so los animales">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dalelapata_">
  <meta property="og:title" content="Dale La Pata">
  <meta property="og:description" content="Nuestro objetivo es servir a la comunidad animalista">
  <meta property="og:url" content="https://dalelapata.narino.gov.co">
  <meta property="og:image" content="https://dalelapata.narino.gov.co{% static 'img/background.jpg' %}">
  <meta property="og:site_name" content="Dale La Pata">

{% endblock %}

{% block extra_navbar_css %}navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top{% endblock %}

{% block heading %}{% endblock %}

{% block page %}
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/img/banner3.jpg" alt="First Slide">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div class="item">
          <img src="../static/img/banner2.jpg" alt="Second Slide">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div class="item">
          <img src="../static/img/banner1.jpg" alt="Third Slide">
          <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  {% block content %}
  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-center" style="padding:10px">
          <div class="row">
              <div class="col-md-8  col-md-offset-2 ">
          <div class="center-block" style="padding:10px">
            <img class="img-responsive" src="../static/img/registrados.png">
          </div>
          </div>
          </div>

        <div class="row" style="padding:20px">
          <div class="col-md-12 col-center">
          {% include '_partials/pets_list.html'  with status='' %}
        </div>
      </div>
        </div>
        <div class="col-md-6 " style="padding:10px">
          <div class="row">
              <div class="row">
                <div class="col-md-8  col-md-offset-2 ">
                <div class="center-block " style="padding:10px">
                <img class="img-responsive" src="../static/img/adoptados.png">
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-center">
                {% include '_partials/pets_list.html'  with status='Adoptada' %}
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding:10px">
      <div class="row">
      <img class="img-responsive" src="../static/img/extraviados.png">
    </div>
      <div class="row">
        <div class="col-md-12 col-center">
          {% include '_partials/pets_list.html'  with status='Extraviada' %}
    </div>
  </div>
</div>
  </div>
    <div class="col-md-6" style="padding:10px">
    </div>
</div>
    {% endblock %}

{% endblock %}
