{% extends '_layouts/base.html' %}
{% load i18n static thumbnail %}
{% load i18n static compress %}

{% block metatags %}
  <link rel="canonical" href="{{ pet_url }}"/>
  <meta name="description" content="{{ pet.description }}">
  
  <meta property="og:title" content="{{ pet.name }} | {{ pet.status.description }}">
  <meta property="og:description" content="{{ pet.description }}">
  <meta property="og:url" content="{{ pet_url }}">
  <meta property="og:image"
        content="http://dalelapata.narino.gov.co{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}">
  <meta property="og:site_name" content="Dale La Pata">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ pet.name }} | Dale la Pata">
  <meta name="twitter:description" content="{{ pet.description }}">
  <meta name="twitter:image:src" content="http://www.dalelapata.narino.gov.co{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}">
{% endblock %}

{% block title %}Historia de {{ pet.name }}{% endblock %}
{% block page_title %}Historia de {{ pet.name|title }}, {{ pet.city|title }}{% endblock %}

{% block content %}

<head>
        {% compress js %}
        <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
        {% endcompress %}

        <title></title>
        <style type="text/css">
          * {
            box-sizing: border-box;
          }

          /* Set a background color 
          body {
            background-color: #474e5d;
            font-family: Helvetica, sans-serif;
          }

          /* The actual timeline (the vertical ruler) */
          .timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            overflow-y: scroll;
          }

          /* The actual timeline (the vertical ruler) */
          .timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
          }

          /* container2 around content2 */
          .container2 {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;
          }

          /* The circles on the timeline */
          .container2::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: white;
            border: 4px solid #FF9F55;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
          }

          /* Place the container2 to the left */
          .left {
            left: 0;
          }

          /* Place the container2 to the right */
          .right {
            left: 50%;
          }

          /* Add arrows to the left container2 (pointing right) */
          .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
          }

          /* Add arrows to the right container2 (pointing left) */
          .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
          }

          /* Fix the circle for containers on the right side */
          .right::after {
            left: -13px;
          }

          /* The actual content2 */
          .content2 {
            padding: 4px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
          }

          .content2 h2{
            font-size: 18px;
            font-weight: bold;
          }

          /* Media queries - Responsive timeline on screens less than 600px wide */
          @media screen and (max-width: 600px) {
          /* Place the timelime to the left */
            .timeline::after {
              left: 31px;
            }

          /* Full-width containers */
            .container2 {
              width: 100%;
              padding-left: 70px;
              padding-right: 25px;
            }

          /* Make sure that all arrows are pointing leftwards */
            .container2::before {
              left: 60px;
              border: medium solid white;
              border-width: 10px 10px 10px 0;
              border-color: transparent white transparent transparent;
            }

          /* Make sure all circles are at the same spot */
            .left::after, .right::after {
              left: 15px;
            }

          /* Make all right containers behave like the left ones */
            .right {
              left: 0%;
            }
          }
          /*
          @media screen and (max-width: 767px)
          container2 {
             display: none;
          }
          */
          </style>
</head>

{% if pet.relacion_set.all %}
    <div class="timeline">
    {% for obj in pet.relacion_set.all %}
        
        {% for subj in obj.seguimiento_set.all %}

           <div id='cont' class="container2 left">
              <div class="content2">
                <h2>{{subj.fecha}}</h2>
                <p>{{subj.observaciones}}</p>
              </div>
            </div>

            <script type="text/javascript">
              /*
              $(document).ready(function(){
                alert($("#cont").attr('class'));
                var currentClass = $("#cont").attr('class');
                //if (currentClass == 'container2 left') { $("#cont").attr('class','container2 right'); }
                $("#cont").attr('class','container2 right');
                //else { $("#cont").attr('class','container2 left'); }
                 /*   $("p").hide("slow", function(){
                        alert("The paragraph is now hidden");
                      });
                  
              });
              */
            </script>

        {% endfor %}
      
    {% endfor %}
    </div>
{% elif not pet.relacion_set.all %}
    <h3>{% trans 'Aun no tiene una historia' %}</h3> 
    <form action="{%url 'adopcion:create' pet.id%}" method="GET" class="form-inline">
      {% csrf_token %}
      <input name="pet_id" id="pet_id" value="{{ pet.id }}" type="hidden">
      {% if pet.status.code %}
      <input type="submit" class="btn btn-success" value="
                {% if pet.status.code == 'Adopción' %}
                  {% trans 'ADOPTAME!' %}
                {% else %}
                  {% if pet.status.code == 'Extraviada' %}
                    {% trans 'NOTIFICAR AVISTAMIENTO!' %}
                  {% endif %}
                {% endif %}"

                {% if pet.status.final %}
                  {% trans 'disabled' %}
                {% endif %} 
      />
      {% endif %}
  </form>
{% endif %}
{% endblock %}
