{% extends '_layouts/base.html' %}
{% load i18n static thumbnail %}

{% block metatags %}
  <link rel="canonical" href="{{ pet_url }}"/>
  <meta name="description" content="{{ pet.description }}">
  
  <meta property="og:title" content="{{ pet.name }} | {{ pet.status.description }}">
  <meta property="og:description" content="{{ pet.description }}">
  <meta property="og:url" content="{{ pet_url }}">
  <meta property="og:image"
        content="http://dalelapata.narino.gov.co{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}">
  <meta property="og:site_name" content="Dale La Pata">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ pet.name }} | Dale la Pata">
  <meta name="twitter:description" content="{{ pet.description }}">
  <meta name="twitter:image:src" content="http://www.dalelapata.narino.gov.co{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}">
{% endblock %}

{% block title %}{{ pet.name }} {% if pet.status.description %} - {{ pet.status.description }} {% endif %}{% endblock %}
{% block page_title %}{{ pet.status.description }}: {{ pet.name|title }}, {{ pet.city|title }}{% endblock %}

{% block content %}
  <div class="modal fade" id="delete_pet" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{% trans 'Borrar mascota' %}</h4>
        </div>

        <div class="modal-body">
          <p>{% trans 'Esta seguro de eliminar la mascota?' %}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancelar' %}</button>

          <form action="{% url 'meupet:delete_pet' pet.slug %}" method="post" class="form-inline">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}"/>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row" style="background-image:url('../../static/img/fondoheader.png')">
    <div class="col-md-5">
      <a href="{{ pet.profile_picture.url }}" data-lightbox="{{ pet.slug }}" data-title="{{ pet }}">
        <img class="img-thumbnail image-pet" src="{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}"
             alt="{{ pet }}"/>
      </a>
      {% if user == pet.owner %}
        <form class="form-horizontal" method="POST" enctype="multipart/form-data"
              action="{% url 'meupet:upload_image' pet.slug %}">
          {% csrf_token %}
          <input name="pet_id" value="{{ pet.id }}" type="hidden">

          <div class="form-group">
            <label for="another_picture" class="control-label">{% trans 'Agregar foto' %}</label>
            <input type="file" id="another_picture" name="another_picture">
            <span class="help-block">{% trans 'Maximo tamaño de imagen 8MB' %}</span>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" class="btn btn-primary pull-right" value="{% trans 'Subir Imagen' %}">
          </div>
        </form>
      {% endif %}
    </div>

    <div class="col-md-7">
      <div class="panel panel-default" style="-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;">
        <div class="panel-body">

          {% if pet.chip_id %}
          <div class="row" style="margin:15px">
          <div class="pet-botton col-md-4" >
          <strong >{% trans 'Numero Chip' %}:</strong>
          </div>
          <div class="col-md-8">
              {{ pet.chip_id }}
            </div>
          </div>
          {% endif %}
          <div class="row" style="margin:15px">
          <div class="pet-botton col-md-4" >
            <strong>{% trans 'Descripción' %}:</strong>
          </div>
          <div class="col-md-8">
            {{ pet.description }}
          </div>
        </div>
        <div class="row" style="margin:15px">
          <div class="pet-botton col-md-4">
            <strong>{% trans 'Ciudad' %}:</strong>
          </div>
          <div class="col-md-8">
            {{ pet.city|title }}
          </div>
        </div>

          {% if pet.size %}
          <div class="row"  style="margin:15px">
            <div class="pet-botton col-md-4">
              <strong>{% trans 'Tamaño' %}:</strong>
            </div>
            <div class="col-md-8">
              {{ pet.get_size_display }}
            </div>
          </div>
          {% endif %}

          {% if pet.sex %}
          <div class="row" style="margin:15px">
            <div class="pet-botton col-md-4">
              <strong>{% trans 'Genero' %}:</strong>
            </div>
            <div class="col-md-8">
              {{ pet.get_sex_display }}
            </div>
          </div>
          {% endif %}

          <p>
            <strong>{% trans 'Contacto' %}:</strong><br/>
            <a href="{% url 'users:user_profile' pet.owner.id %}">{{pet.owner.fundacion.nombre_corto}} - {{ pet.owner.get_full_name }}</a>
            {% if pet.owner.facebook %} | <a href="{{ pet.owner.facebook }}">Facebook</a>{% endif %}
          </p>

          <p>
            <strong>{% trans 'Compartir' %}:</strong><br/>
            <a href="http://www.facebook.com/sharer.php?u={{ pet_url }}" target="_blank" rel="noreferrer noopener">
              <img src="{% static 'img/facebook.png' %}" alt="Facebook"/>
            </a>
            <a href="http://twitter.com/share?url={{ pet_url }}" target="_blank" rel="noreferrer noopener">
              <img src="{% static 'img/twitter.png' %}" alt="Twitter"/>
            </a>
          </p>

            <div class="pull-right">
              <a href="{% url 'meupet:tracing' pet.slug %}" class="btn btn-info">{% trans 'Historia' %}</a>
              {% if not pet.status.final %}
                <!-- <form action="{% url 'meupet:change_status' pet.id %}" method="post" class="form-inline"> -->

                <form action="{%url 'adopcion:create' pet.id%}" method="GET" class="form-inline">
                  {% csrf_token %}
                  <input name="pet_id" id="pet_id" value="{{ pet.id }}" type="hidden">
                  {% if pet.status.code %}
                  <input type="submit" class="btn btn-success" value="
                            {% if pet.status.code == 'Adopción' %}
                              {% trans 'ADOPTAME!' %}
                            {% else %}
                              {% if pet.status.code == 'Extraviada' %}
                                {% trans 'NOTIFICAR AVISTAMIENTO!' %}
                              {% endif %}
                            {% endif %}"

                            {% if pet.status.final %}
                              {% trans 'disabled' %}
                            {% endif %} />

                  {% elif relacion == None %}
                    <a href="{%url 'adopcion:tenure_create' pet.id%}" class="btn btn-success">{% trans 'T. responsable' %}</a>
                  {% endif %}

                </form>


              {% if user == pet.owner %}
              <a href="{% url 'meupet:edit' pet.slug %}" class="btn btn-primary">{% trans 'Editar' %}</a>
              {% if not pet.status.final %}
                <a href="{% url 'meupet:poster' pet.slug %}" class="btn btn-primary" >{% trans 'Generar poster' %}</a>
              {% endif %}


              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_pet">
                {% trans 'ELiminar' %}
              </button>
              {% endif %}

          {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if pet.photo_set.all %}
      <div class="col-md-12">
        <h3>{% trans 'Mas fotos!' %}</h3>

        <div class="row">
          {% for photo in pet.photo_set.all %}
            <div class="col-md-3">
              <a href="{{ photo.image.url }}" data-lightbox="{{ pet.slug }}" data-title="{{ pet }}">
                <img class="img-thumbnail image-pet" src="{{ photo.image|thumbnail_url:'pet_thumb' }}"
                     alt="{{ pet }}"/>
              </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
              </div>
              <div class="row">
            {% endif %}
          {% endfor %}
          </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
