{% extends '_layouts/base.html' %}
{% load i18n thumbnail %}

{% block title %}{% trans 'Busqueda' %}{% endblock %}

{% block body %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <form class="form-inline" action="" method="post">
          {% csrf_token %}

           <div class="form-group">
            <label for="chip_id" class="control-label">{% trans 'Chip' %}</label>

            {{ form.chip_id }}
          </div>

          <div class="form-group">
            <label for="city" class="control-label">{% trans 'Ciudad' %}</label>

            {{ form.city }}
          </div>

          <div class="form-group">
            <label for="kind" class="control-label">{% trans 'Especie' %}</label>

            {{ form.kind }}
          </div>

          <div class="form-group">
            <label for="status" class="control-label">{% trans 'Estado Actual' %}</label>

            {{ form.status }}
          </div>

          <div class="form-group">
            <label for="size" class="control-label">{% trans 'Tamaño' %}</label>

            {{ form.size }}
          </div>

          <div class="form-group">
            <label for="sex" class="control-label">{% trans 'Sexo' %}</label>

            {{ form.sex }}
          </div>
          <br><br>
          <div class="form-group">
            <input class="btn btn-success" type="submit" value="{% trans 'Search' %}"/>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>{% trans 'Resultado' %}</h3>
      </div>
      {% for pet in pets %}
        <div class="col-xs-12 col-sm-6 col-md-3 card-pet">
          {% include '_partials/pet_card.html' with pet=pet only %}
        </div>
      {% empty %}
        <div class="col-md-12">
          <p>{% trans 'No hay coincidencias' %}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}