{% extends '_layouts/base.html' %}
{% load static %}

{% block title %}Error inesperado{% endblock %}

{% block body %}
  <div class="col-md-12">
    <div class="text-center">
      <p>
        Ooops, un error ha ocurrido
        Click <a href="/">aquí</a> para ir a la pagina inicial.
      </p>

      <img class="img-thumbnail mb-40px" src="{% static 'img/404_dog.jpg' %}" alt="Desenho de um cachorro sentado">
    </div>
  </div>
{% endblock %}

{% block ga_log_not_found %}
    var url = "/500/?url=" + window.location.pathname + window.location.search + "&from=" + document.referrer;
    ga('send', 'pageview', url);
{% endblock %}
