body{
	background: #E6E6E6;
}

.container{
	background: #fff;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	width: 900px;
	margin: 0 auto;
	padding: 5px;
	height: 500px;
	text-align: center;
}

.capas{
	top: 0;
	width: 430px;
	height: 500px;
	/*border-radius: 10px;
	border:1px solid #000;*/
	display: inline-block;
	vertical-align: top;
}

#form{
	height: 450px;
	border-bottom:1px solid #000;	 
	z-index: 999;
}

.controls{
	position: absolute;
	margin-top: 10px;
	border:1px solid transparent;
	border-radius: 2px 0 0 2px;
	-box-sizing: border-box;
	-moz-box-sizing:border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	z-index: 999;
}

#search{
	margin-top: 12px;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 210px;
}
#search:focus{
	border-color: #4d90fe;
}

#dataq{
	z-index: 1;
}
#mapaP{
  height:25em;  
}



#checkboxes{
	display: none;	
}
#checkboxes label{
	display: block;
	color:#fff;
	font-weight: normal;
}

.minuta ul{
	background: #1B2631;	
	display: flex;
	list-style: none;
	padding: 0;	
}

#checkboxes label:hover{
	background:rgba(255,255,255,.3);
	cursor: pointer;
}

.minuta ul ul{
	display: none;	
}
.minuta a{	
	display: block;	
	width: 300px;
	padding: 5px 50px;
	color:#fff;
	text-decoration: none;
	align:center;
}
#id_cantidad{
	
}
#checkboxes label{	
	display: block;	
	width: 300px;
	padding: 5px 50px;
	color:#fff;
	text-decoration: none;
	align:center;	
	font-weight: normal;
}

#primero{
	border-bottom: 1px solid #FF8C00;
}
.nomcats{
	display: block;
	float: left;
	
}
#primero label:before{
	border-radius: 50%;
}


.minuta a:hover{
	background:rgba(255,255,255,.3);	
}
.minuta a span{
	margin-left: 30px;
}
.minuta ul li:hover #checkboxes{
	display: block;
	position: absolute;	
	padding: 0;
}


