*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'century Gothic';

}
#info{
	position: absolute;
	z-index: 10000;
	background-color: #fff;
	width: 0px;
	height: 0px;
}

#mapaP { 
	 height:50em; 	  
}
#fotopunto{
	position:relative;
	float: left;
	height:25em;
	width: 400px;
}
#cerrar{
	position:absolute;
	width:26px;
	height:26px;
    cursor:pointer;
    z-index: 9999;	
    left:20px;
}


#checkboxes{
	display: none;	
}
#checkboxes label{
	display: block;
	color:#fff;
	font-weight: normal;
}

header{
	height: 53px;
	background: #f9d05b;	
	color:#fff;	
	position: relative;
	z-index: 10000;
	display: flex;
	justify-content: flex-end;
}

#btn-menu{
	display: none;
}
header label{	
	cursor: pointer;
	display: none;
}
.minuta ul{
	background: #f9d05b;
	display: flex;
	list-style: none;
	padding: 0;	
}

#checkboxes label:hover{
	background:rgba(80,0,0,.3);
}
#estados label:hover{
	background:rgba(80,0,0,.3);
}
.minuta ul ul{
	display: none;	
}
.minuta a{	
	display: block;	
	width: 300px;
	padding: 15px 50px;
	color:#fff;
	text-decoration: none;
	align:center;
}
#checkboxes label{	
	display: block;	
	width: 300px;
	padding: 15px 50px;
	color:#fff;
	text-decoration: none;
	align:center;	
	font-weight: normal;
}
#estados label{	
	display: block;	
	width: 300px;
	padding: 15px 50px;
	color:#fff;
	text-decoration: none;
	align:center;
	font-weight: normal;
}
#primero{
	border-bottom: 1px solid #FF8C00;
}
input[type=checkbox],
input[type=radio]{
	display: none;
	
}
label:before{
	content: '';
	background: transparent;
	border:2px solid #FF8C00;
	border-radius: 10%;
	display: inline-block;
	height: 15px;
	margin-right:5px; 
	text-align: center;
	vertical-align: middle;
	width: 15px;
	transition: all 0.2s;
	transform: rotate(0deg);	
}
#primero label:before{
	border-radius: 50%;
}
input[type=radio]:checked + label{
	background: #FF8C00;	
}
input[type=radio]:checked + label:before{
	content: '✔';
	font-size: 8px;
	background: #fff;
	color:#FF8C00;
	text-align: center;
	font-family: 'Times New Roman';
	transform: rotate(360deg);	
}
input[type=checkbox]:checked + label:before{
	content: '✔';
	font-size: 8px;
	background: #FF8C00;
	text-align: center;
	font-family: 'Times New Roman';
	transform: rotate(360deg);
}

.minuta a:hover{
	background:rgba(80,0,0,.3);	
}
.minuta a span{
	margin-left: 30px;
}
.minuta ul li:hover #checkboxes{
	display: block;
	position: absolute;	
	padding: 0;
}
.minuta ul li:hover #estados{
	display: block;
	position: absolute;	
	padding: 0;
}
#exampleModal{
	z-index: 10000;
}
#titleinfo{
	height: 30px;
	background: #000;		
	color:#fff;	
	position: relative;		
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
#contimg{
	background:rgba(0,80,0,.3);		
}
#cabecerafoto{
	background:rgb(0,80,0);	
	position: relative;		
	justify-content: center;
	align-items: center;
	align-content: center;
}
#exampleModalLabel{
	color:#fff;	
}
#x{
	color:#fff;	
}
#footerinfo{
	background:rgb(0,80,0);	
	position: relative;		
	justify-content: center;
	align-items: center;
	text-align: center;
	color:#fff;
}
