{% load i18n static compress %}
<!DOCTYPE html>
<html lang="es-CO">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Dale La Pata | {% block page_title %}{% trans 'Plataforma de gestion animalista' %}{% endblock %}</title>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pets.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  {% endcompress %}
  {% block metatags %}{% endblock %}
  {% if not debug %}
    <!-- Hotjar Tracking Code for http://dalelapata.narino.gov.co/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1047368,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-49489257-3','auto');
      {% block ga_log_not_found %}
      ga('send', 'pageview');
      {% endblock %}
    </script>
    <script src='https://www.google-analytics.com/analytics.js' async defer></script>
  {% endif %}
</head>
<body>
<div class="navbar {% block extra_navbar_css %}{% endblock %}" role="navigation" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"    data-target=".navbar-collapse">
        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'common:homepage' %}">
        <img src="{% static 'img/dalelapatalog.png' %}" width="150px" height="120px" style="position:relative;z-index: 1; top:20px;">
    </a>

        {% if user.fundacion %}
        <div style="position:relative; top:17px; text-align: center;">
          <a href="{% url 'users:f_index' %}" >
          <p width="150px" height="60px" style="color: black;font-family:boogaloo">{{ user.fundacion.nombre_corto }}</p>
          </a>
       </div>
        {% else %}
          {% if user.is_superuser %}
           <div style="position:relative; top:17px; text-align: center;">
          <a href="{% url 'users:f_index' %}" >
          <p width="150px" height="60px" style="color: black;font-family:boogaloo">SuperAdmin</p>
          </a>
          </div>
          {% endif %}
        {% endif %}

    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'meupet:index' %}">{% trans 'Mascotas' %}</a></li>
        <li class="hidden-sm hidden-md hidden-lg">
          <ul class="nav">
          {% for group in sidemenu %}
            {% if group.menu_items %}
              <li class="ml-30px menu-group-name">{{ group.name }}</li>
              <ul class="nav ml-30px">
                {% for menu_item in group.menu_items %}
                  <li>
                    <a href="{% url 'meupet:pet_list' group.slug menu_item.slug %}">
                      {{ menu_item }} <span class="badge">{{ menu_item.num_pets }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </ul>
        </li>
        <li><a href="{% url 'meupet:register' %}">{% trans 'Registrar Mascota' %}</a></li>
        <li><a href="https://angela1033.typeform.com/to/Yqt5FN">{% trans 'Amig@s4Patas' %}</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'users:profile' %}">{% trans 'Perfil' %}</a></li>
          <li><a href="{% url 'users:logout' %}">{% trans 'Cerrar Sesión' %}</a></li>
        {% else %}
          <li><a href="{% url 'users:createSelect' %}">{% trans 'Crear Cuenta' %}</a></li>
          <li><a href="{% url 'users:login' %}">{% trans 'Acceder' %}</a></li>
        {% endif %}
       <li><a href="{% url 'gmaps:sitios' %}">{% trans 'Presencia UM' %}</a></li> 
        <li><a href="{% url 'common:about' %}">{% trans 'Acerca de' %}</a></li>
        <li><a href="{% url 'meupet:search' %}">{% trans 'Buscar' %}</a></li>
      </ul>
    </div>
  </div>
</div>
{% block heading %}
  <div class="heading">
    <h1 class="title-text text-center">{% block title %}{% endblock %}</h1>
  </div>
{% endblock %}
{% block page %}
<div style="background-image:url('../../static/img/fondoheader.png'); padding: 25px">
  <div class="container" >
    <div class="row">
      {% if messages %}
        <div class="col-md-12">
          {% for message in messages %}
            <div class="alert
                {% if message.tags %}
                  {% if 'error' in message.tags %}
                      alert-danger
                  {% else %}
                      alert-{{ message.tags }}
                  {% endif %}
                {% endif %}" role="alert">
              {{ message|safe }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% block body %}
        <div class="col-md-2 hidden-xs hidden-sm">
          <div class="sidebar">
            {% for group in sidemenu %}
              {% if group.menu_items %}
                <h3 class="title-text">{{ group.name }}</h3>
                <ul class="nav">
                  {% for menu_item in group.menu_items %}
                    <li><a href="{% url 'meupet:pet_list' group.slug menu_item.slug %}">
                      {{ menu_item }} <span class="badge">{{ menu_item.num_pets }}</span></a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="col-md-10" >
          {% block content %}
          {% endblock content %}
        </div>
      {% endblock body %}
    </div>
  </div>
</div>
{% endblock %}

<div class="footer hidden-print">
  <div class="footer-head">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="title-text">Dale La pata</h2>
        </div>
        <div class="col-sm-6 text-right small-text">
          {% trans '.... &hearts; ....' %}
        </div>
      </div>
    </div>
  </div>

  <div class="footer-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center" style="font-family:boogaloo">
        <h2 class="text-center">Nuestros numeros</h2>
    <div class="row">
      <div class="col-md-4 rounded-circle" style="background:white;border-radius:10px">
        <p class="site-stats"  style="color:black">{{ pets_count }} Mascotas</p>
        </div>
      <div class="col-md-4">
          <img src="{% static 'img/dalelapatalog.png' %}" width="150px" height="120px" style="position:relative;z-index: 1; top:20px;">
      </div>

      <div class="col-md-4 rounded-circle"  style="background:white;border-radius:10px" >
        <p class="site-stats" style="color:black">{{ users_count }} Usuarios </p>
      </div>
    </div>
        </div>
        <div class="col-md-6">
          <h4 class="title-text">{% trans 'Acerca' %}</h4>

          <p>{% trans 'EL proposito de dale la pata es mejorar los procesos de adopción, pero el proposito principal es el de llenar de amor los hogares de Nariño :)' %}</p>
  <img class="img-responsive" src="{% static 'img/logotic.png' %}" alt="DigitalOcean logo">

        </div>

      </div>
    </div>
  </div>
</div>
{% compress js %}
  <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
  <script src="{% static 'js/matchMedia.js' %}"></script>
  <script src="{% static 'js/pets.js' %}"></script>
  {% if not debug %}
    <div id="fb-root"></div>
    <script>
      /*
      (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=388312971328768  ";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    */
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
    </script>
  {% endif %}
{% endcompress %}
{% block morescripts %}{% endblock %}
</body>
</html>
