{%extends '_layouts/baseMapaU.html' %}
{% block title %}Cargar imagen{% endblock %}
{% block container %} 
      <form class="form-horizontal" method="POST" enctype="multipart/form-data"
              action="{% url 'meupet:upload_image' pet.slug %}">
          {% csrf_token %}
          <input name="pet_id" value="{{ pet.id }}" type="hidden">

          <div class="form-group">
            <label for="another_picture" class="control-label">{% trans 'Agregar foto' %}</label>
            <input type="file" id="another_picture" name="another_picture">
            <span class="help-block">{% trans 'Maximo tamaño de imagen 8MB' %}</span>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" class="btn btn-primary pull-right" value="{% trans 'Subir Imagen' %}">
          </div>
        </form>   
{% endblock %}

</body>
</html>


